*,
*:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

html {
    font-size: 10px;
}

a {
    text-decoration: none;
    &:active, &:hover {
        outline: 0;
      };
}
li {
    list-style: none;
}
body {
    display: flex;
    overflow-x: hidden;
    background-color: #151515;
    font-family: 'Roboto', sans-serif;
    height: 100wh;
}

.overlay {
    
    z-index: 4;
    filter: blur(3px);
    pointer-events: none;
}

.hidden {
    display: none;
}
.visible {
    opacity: 1;
}
.visiblly-hidden {
    opacity: 0;
}
.noScroll {
    overflow-y: hidden;
}