*,
*:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

a {
    text-decoration: none;
    &:active, &:hover {
        outline: 0;
      };
}
li {
    list-style: none;
}
body {
    display: flex;
    overflow-x: hidden;
    background-color: #151515;
    font-family: 'Roboto', sans-serif;
    height: 100wh;
}