.header {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;

    @include media-mobile {
        padding-top: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}