.nav {
    position: absolute;
    width: 30vw;
    height: 110vh;
    font-size: 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //border: 1px solid #fff;
    left: -35%;
    position: absolute;
   
    background-color: #000;
    color: #fff;
    transition: all .8s ease-out;

    -webkit-box-shadow: 10px 2px 36px -10px rgba(255,255,255,1);
    -moz-box-shadow: 10px 2px 36px -10px rgba(255,255,255,1);
    box-shadow: 10px 2px 36px -10px rgba(255,255,255,1);
    z-index: 5;

    @include media-tablet {
        width: 65vw;
        left: -75%;
    }

    & li {
        width: 100%;
    }

    &__item {
        position: relative;
        font-size: 3rem;
        padding: 10px;
        width: 100%;
        display: block;
        text-transform: uppercase;
        letter-spacing: 5px;
        text-align: center;
        cursor: pointer;

        @include media-mobile {
            font-size: 2rem;
        }

        &:hover {
            
            background-color: #fff;
            color: #000;
        }
        &--active {
            outline: 1px solid #fff;
        }
    }

    &--active {
        left: 0;
    }
}