.hamburger {
    width: 50px;
    cursor: pointer;
    z-index: 2;

    &:hover {
        transform: rotate(180deg);
        transition: transform 1s linear;
    }

    &-line {
            content: '';
            height: 3px;
            margin-bottom: 12px;
            display: block;
            background-color: #ffffff;
            transition: transform .5s ease;
            &:last-child {
                margin-bottom: 0;
            }
                
            &--active {
                .hamburger-line:first-child { transform: translateY(12px) rotate(135deg); }
                
                .hamburger-line:last-child { transform: translateY(-12px) rotate(-135deg); }
                
                .hamburger-line:nth-child(2) {  transform: scale(0);} 
            }
               
        }
            
}
        
